ul li{
    display: inline;
}

body{
    background-color: beige;
}

header{
    margin-top: -1%;
    margin-right: -1%;
    margin-left: -1%;
    background-color: #600;
    color: beige;
    height: 6em;
}

a{
    text-decoration: none;
    color: beige;
}

form{
    margin: 2% auto auto 20%;
}

table{
    
}