ul li{
    display: inline;
    font-size: 2em;
    border-left: 2em solid #600;
}

ul{
    position: absolute;
    margin-top: 2%;    
}

ul li:first-child {
  border-left: none;
}

body{
    background-color: beige;
}

header{
    margin-top: -1%;
    margin-right: -1%;
    margin-left: -1%;
    background-color: #600;
    color: beige;
    height: 6em;
}

a{
    text-decoration: none;
    color: beige;
}

form{
    margin: 2% auto auto 20%;
}

#predict{
    border: 1px solid black;
    margin: 5% 20%;
    padding: 10%;
}

#articles_list, #articles_list th, #articles_list td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    margin-left: 20%;
    margin-top: 2%;
}

img{
    float: right;
    margin-right: 2%;
    margin-top: 1%;
}

a:hover{
    color: brown;
}

.active{
    color: brown;
}